/* Error message styling */
.errorStyle {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em 2em;
}

/* Material UI Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
}

.inverted table {
  background-color: #2e2e2e; /* Dark background for the table */
  box-shadow: 0px 2px 1px -1px rgba(255,255,255,0.2), 0px 1px 1px 0px rgba(255,255,255,0.14), 0px 1px 3px 0px rgba(255,255,255,0.12);
}

thead th {
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00938em;
  padding: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.inverted thead th {
  color: rgba(255, 255, 255, 0.87); /* Light text for headers in dark mode */
  border-bottom: 1px solid rgba(77, 77, 77, 1); /* Darker border */
}

tbody tr {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.inverted tbody tr {
  border-bottom: 1px solid rgba(77, 77, 77, 1); /* Darker border */
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.04); /* Keep existing hover for light mode */
}

.inverted tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.08); /* Light hover for dark mode */
}


td {
  padding: 16px;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.87); /* Keep existing text color for light mode */
}

.inverted td {
  color: rgba(255, 255, 255, 0.87); /* Light text for cells in dark mode */
}

/* Styling for clickable rows */
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
  /* Keep existing hover for light mode */
}

.inverted .clickable-row:hover {
  background-color: rgba(255, 255, 255, 0.08); /* Light hover for dark mode */
}
