/* Error message styling */
.errorStyle {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4em 2em;
}

/* // TODO: need to add more styling from DataTable.jsx; */
